ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
	padding: 0;
	margin: 0;
}
/* header部分 */
.header{
	height: 42px;
	background-color: #9774da;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}
.header-text{
	margin-left: 250px;
	font-weight: bold;
	font-size: 20px;
	padding-left: 10px;
}
.right-header-list ul{
	width:250px;
	display: flex;
}
.right-header-list ul li:nth-child(2){
	padding-left: 30px;
}
.right-header-list ul li:last-child{
	padding-left: 120px;
}
/* 列表部分 */
.content{
	display: flex;
	height: calc(100vh - 42px);
}
.content-left{
	width: 250px;
	height: 100%;
	border-right: 1px solid #ccc;
}
.content-left ul{
	padding: 10px 20px;
}
.content-left ul li{
	padding-top: 20px;
}
.content-left ul li:nth-child(1){
	padding-top: 0px;
}
.content-right{
	flex: 1;
}